# --- POSTGRESQL (Source) ---
PG_HOST=127.0.0.1
PG_PORT=5432
PG_DB=source_clinical_db
PG_USER=postgres
PG_PASS=your_postgres_password

# --- SQL SERVER (Destination) ---
SQL_SERVER=your_sql_server_ip
SQL_DB=target_clinical_db
SQL_USER=sa
SQL_PASS=your_sql_server_password
